{% trans_default_domain 'ezrepoforms_content' %}

{% block imagemap_row %}
    <div class="imagemap-edit" id="imagemap-container-{{ form.parent.vars.data.field.id }}">
        {% set label_wrapper_attr = label_wrapper_attr|default({})|merge({'class': (label_wrapper_attr.class|default('') ~ 'ez-field-edit__label-wrapper')|trim}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ez-field-edit__label')|trim}) %}
        <div{% with { attr: label_wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- block('form_label') }}
        </div>
        <div>
            <button type="button" class="btn btn-info imagemap-draw-rect">{{ 'imagemap.button.draw.rect'|trans }}</button>
            <button type="button" class="btn btn-info imagemap-draw-circle">{{ 'imagemap.button.draw.circle'|trans }}</button>
            <button type="button" class="btn btn-info imagemap-draw-poly">{{ 'imagemap.button.draw.poly'|trans }}</button>
            <div hidden class="imagemap-help-rect">{{ 'imagemap.help.rect'|trans }}</div>
            <div hidden class="imagemap-help-circle">{{ 'imagemap.help.circle'|trans }}</div>
            <div hidden class="imagemap-help-poly">{{ 'imagemap.help.poly'|trans }}</div>
        </div>
        {% set preview_block_name = 'ezimage_preview' %}
        {% set max_file_size = max_upload_size|round %}
        {% set attr = attr|merge({'accept': 'image/*'}) %}
        {% set wrapper_attr = {'class': 'ez-field-edit--ezimage'} %}
        {% set label_wrapper_attr = {'hidden': true} %}
        {{ block('binary_base_row') }}
        {{ form_row(form.map) }}
        <map class="imagemap-map" id="imagemap-{{ form.parent.vars.data.field.id }}" name="imagemap-{{ form.parent.vars.data.field.id }}"></map>
        <div class="imagemap-popin imagemap-popin-proto" hidden>
            <a href="#">
                <svg>
                    <use href="{{ asset('/bundles/onisepimagemap/images/remixicon.svg#ri-arrow-down-circle-fill') }}"></use>
                </svg>
            </a>
        </div>
    </div>
{% endblock %}

{% block imagemap_map_areas_row %}
    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    <div {{ block('widget_attributes') }}>
        <div class="imagemap-areas">
            <div class="imagemap-go-up">
                <a href="#imagemap-container-{{ form.parent.parent.vars.data.field.id }}">
                    <svg>
                        <use href="{{ asset('/bundles/onisepimagemap/images/remixicon.svg#ri-arrow-up-circle-fill') }}"></use>
                    </svg>
                </a>
            </div>
            {% for child in form.children %}
                {{ form_row(child) }}
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary imagemap-add">{{ 'imagemap.button.link.label'|trans }}</button>
    </div>
{% endblock %}

{% block imagemap_map_area_row %}
    <div class="imagemap-area">
        <div class="row">
            <div class="col-1">
                <button class="btn btn-danger imagemap-remove" type="button" title="{{ 'imagemap.area.button.delete.label'|trans }}">
                    <svg class="ez-icon ez-icon--medium ez-icon--light">
                        <use xlink:href="/bundles/ibexaadminui/img/ez-icons.svg#trash"></use>
                    </svg>
                </button>
            </div>
            <div class="col-11">
                {{ form_row(form.link) }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {{ form_row(form.shape, {'attr': {'class': 'imagemap-area-input', 'data-prop': 'shape'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.position, {'attr': {'class': 'imagemap-area-input', 'data-prop': 'coords'}}) }}
            </div>
            <div class="col-3">
                {{ form_row(form.target, {'attr': {'class': 'imagemap-area-target'}}) }}
            </div>
            <div class="col-3 imagemap-area-anchor" {% if form.children.target.vars.value != 'embed' %}hidden{% endif %}>
                {{ form_row(form.anchor) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.description, {'attr': {'class': 'imagemap-area-input', 'data-prop': 'title'}}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block imagemap_link_row %}
    {% set internal = content is not null %}
    <div class="imagemap-relation row" data-udw-config="{{ ez_udw_config('single', {
        'type': 'object_relation',
        'allowed_content_types': form.parent.parent.parent.parent.vars.data.fieldDefinition.fieldSettings.selectionContentTypes
    }) }}">
        <div class="col-3">
            <select class="imagemap-relation-select form-control">
                <option value="internal" {{ internal ? 'selected' }}>{{ 'imagemap.link.internal'|trans }}</option>
                <option value="external" {{ not internal ? 'selected' }}>{{ 'imagemap.link.external'|trans }}</option>
            </select>
        </div>
        <div class="col-9">
            <div class="imagemap-relation-internal" {{ not internal ? 'hidden' }}>
                <button class="btn btn-info imagemap-relation-browse" type="button" title="{{ 'imagemap.link.select_content'|trans }}">
                    <svg class="ez-icon ez-icon--medium ez-icon--light">
                        <use xlink:href="/bundles/ibexaadminui/img/ez-icons.svg#browse"></use>
                    </svg>
                </button>
                <span class="imagemap-relation-name">
                    {{ content ? ez_content_name(content) : 'imagemap.link.no_content'|trans }}
                </span>
            </div>
            <div class="imagemap-relation-external" {{ internal ? 'hidden' }}>
                <input type="text" class="imagemap-relation-external-link form-control" value="{{ not internal ? value }}" />
            </div>
        </div>

        {% set attr = attr|merge({'class': 'imagemap-relation-source', 'hidden': 'hidden'}) %}
        {{ block('form_widget') }}
    </div>
{% endblock %}
