{% block imagemap_field %}
    {% set map_id = 'imagemap_' ~ field.id %}
    {% set img = field.value %}
    {% set items = load_image_map_items(field) %}

    <div class="imagemap">
        <div class="imagemap__image">
            <img src="{{ asset(img.uri) }}"
                 alt="{{ img.fileName }}"
                 title="{{ img.fileName }}"
                 usemap="#{{ map_id }}"
                 width="{{ img.width }}"
                 height="{{ img.height }}"
            />
            <map id="{{ map_id }}" name="{{ map_id }}">
                {% for item in items %}
                    {% set link = item.link ?? '#' %}
                    {% set mapLocationId = '' %}

                    {% if item.content is defined %}
                        {% if item.target == 'embed' %}
                            {% set link = '#' ~ (item.anchor ?: ('imagemap-target-' ~ field.id ~ '-' ~ item.content.id)) %}
                        {% elseif item.target == 'popin' %}
                            {% set link = '#imagemap-target-' ~ field.id ~ '-' ~ item.content.id %}
                        {% else %}
                            {% set link = path('ibexa.url.alias', {'contentId': item.content.id}) %}
                        {% endif %}
                    {% endif %}

                    <area target="{{ item.target in ['embed', 'popin'] ? '_self' : item.target }}"
                          {% if item.target in ['embed', 'popin'] %}data-mode="{{ item.target }}"{% endif %}
                          title="{{ item.description }}" href="{{ link }}"
                          coords="{{ item.position }}" shape="{{ item.shape }}"
                    >
                {% endfor %}
            </map>
        </div>
        <div class="imagemap__embeds">
            {% for item in items|filter((item) => item.target == 'embed')|filter((item) => item.content is defined) %}
                {% set id = item.anchor ?: 'imagemap-target-' ~ field.id ~ '-' ~ item.content.id %}
                <div id="{{ id }}" class="imagemap__embeds__item" hidden>
                    {{ ibexa_render_content(item.content, {'viewType': 'imagemap_embed'}) }}
                </div>
            {% endfor %}
        </div>
        <div class="imagemap__popins">
            {% for item in items|filter((item) => item.target == 'popin')|filter((item) => item.content is defined) %}
                <div id="imagemap-target-{{ field.id}}-{{ item.content.id }}" class="imagemap__popins__item">
                    <div class="imagemap__popins__item__bg imagemap__popins__item__exit"></div>
                    <div class="imagemap__popins__item__container">
                        {{ ibexa_render_content(item.content, {'viewType': 'imagemap_popin'}) }}
                        <button class="imagemap__popins__item__close imagemap__popins__item__exit">X</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
